# .env
.env

# __pycache__
__pycache__
.pytest_cache

# ruff cache
.ruff_cache

# macOS
.DS_Store

# build
build
dist
pandasai.egg-info

#venv
/venv
.venv

# command line
/pandasai_cli.egg-info

# pycharm
.idea/
.idea

# cache
cache/

# exports
exports/

# logs
*.log

# vscode
.vscode

# coverage
.coverage
coverage.xml

# pgdata
pgdata/

# datasets
datasets/
analysis_employee_data_20250830_001224.png
analysis_employee_data_20250829_231417.png
.gitignore
analysis_employee_data_20250829_233310.png
